.hero {
	min-height: calc(100vh - 100px);
	margin-top: 100px;
	overflow: hidden;
	position: relative;

	@media (max-width:$tablet-break) {
       min-height: auto;
    }

    @media (max-width:$mobile-break) {
       margin-top: 60px;
       padding-bottom: $col-vw * 6;
    }
	.row-inner {
		padding: 0 $col-vw;
	}

	.text {
		width: $col-vw * 4;
		z-index:4;
		position: relative;

		@media (max-width:$laptop-break) {
	      width: $col-vw * 5;
	    }

	    @media (max-width:$tablet-break) {
	      width: $col-vw * 6;
	    }

	    @media (max-width:$mobile-break) {
       width: 100%;
    }

		h1 {
			margin-bottom: 2rem;
			width: 53.25rem;
			position: relative;

			border-bottom: 1px solid $color3;
			padding-bottom: 1rem;
			@include bottom-right-black;
			@include bottom-left-black;

			@media (max-width:$mobile-break) {
       width: 100%;
    }

			span {
				color: $color3;
			}
		}

		p,
		.button {
			margin-left: $col-vw/2;

			@media (max-width:$mobile-break) {
       margin-left: 0;
    }
		}
	}

	&::after {
		content: '';
		width: $col-vw * 3.5;
		height: 100%;
		background: linear-gradient(to right, $white 0%, rgba(255,255,255,0) 100%);
		position: absolute;
		right: $col-vw * 4.5;
		top: 0;
		z-index:2;

			@media (max-width:$tablet-break) {
      right: $col-vw * 3;
      width: $col-vw * 6;
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);

    }

       @media (max-width:$mobile-break) {
       	width: 100%;
       	height: $col-vw * 5;
       	right: 0;
       	top: initial;
       	bottom: $col-vw * 4;
       	background: linear-gradient(to bottom, $white 0%, rgba(255,255,255,0) 100%);
       }
	}

	&::before {
		opacity: 0.75;
		content: '';
		width: $col-vw * 8;
		height: $col-vw * 6;
		background-image: url('../../images/canada-map-2.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		right: 0;
		top: 50%;
		z-index:1;
		transform: translateY(-50%);

		@media (max-width:$tablet-break) {
      width: $col-vw * 10;
		height: $col-vw * 8;
		right: -$col-vw;
    }

    @media (max-width:$mobile-break) {
      width: $col-vw * 18;
		height: $col-vw * 10;
		top: initial;
		right: initial;
		left: 50%;
		bottom: -$col-vw;
		transform: translateX(-50%);
    }
	}
}

.collaboration {
	padding-left: $col-vw * 3;
	padding-right: $col-vw * 2.5;

	@media (max-width:$laptop-break) {
        padding-left: $col-vw * 2;
			padding-right: $col-vw * 2;
    }

    @media (max-width:$tablet-break) {
        padding-left: $col-vw;
			padding-right: $col-vw;
    }

     @media (max-width:$mobile-break) {
       padding-top:$col-vw * 2;
       padding-bottom:$col-vw * 2;
    }

    .row-inner  {
    	@media (max-width:$mobile-break) {
       flex-wrap: wrap-reverse;
    }
    }

	.col {
		&.image {
			width: $col-vw*3;
			padding-right: $col-vw;

			@media (max-width:$laptop-break) {
        width: $col-vw*4;
    }

			@media (max-width:$tablet-break) {
        width: $col-vw*5;
    }

    @media (max-width:$mobile-break) {
       width: 100%;
       padding: 0 $col-vw*2;
       @include margin-top($col-vw/2);
    }

			img {
				width: 100%;
			}
		}
		&.text {
			width: $col-vw*3.5;

			@media (max-width:$laptop-break) {
        width: $col-vw*4;
    }

			@media (max-width:$tablet-break) {
        width: $col-vw*5;
    }

    @media (max-width:$mobile-break) {
       width: 100%;
    }

			h2 {
				// &::after {
				// 	background-image: url('../../images/bottom-right-white.svg');
				// }

				&::before {
					background: transparentize($color2, 0.25);
				}
			}
		}
	}
}

.action-plan {
	padding-left: $col-vw * 1.5;
	padding-right: $col-vw * 1.5;

	@media (max-width:$laptop-break) {
	       padding-left: $col-vw * 1;
			padding-right: $col-vw * 1;
	    }

	    @media (max-width:$tablet-break) {
	       padding-left: $col-vw * 0.5;
			padding-right: $col-vw * 0.5;
	    }

	    @media (max-width:$mobile-break) {
	       padding-left: $col-vw;
			padding-right: $col-vw;
	    }

	.row-inner {
		display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
	}
	.col {
		&.card {
			@include margin-top($col-vw/2);
			@include margin-bottom($col-vw/2);
			width: $col-vw * 2.5;
			padding-bottom: 1rem;
			border-bottom: 1px solid $color1;

			 @media (max-width:$tablet-break) {
       width: 100%;
       padding-left: $col-vw * 2;
       padding-right: $col-vw * 2;
       border-bottom: 0;

       &:last-child {
       	border-bottom: 1px solid $color1;
       }
    }

    @media (max-width:$mobile-break) {
	       padding-left: 0;
	       padding-right: 0;
	       padding-bottom: 0;
	    }
		}

		&.text {
			padding: 0 $col-vw * 2.75;

			@media (max-width:$laptop-break) {
	       padding: 0 $col-vw * 2.5;
	    }

	    @media (max-width:$mobile-break) {
       width: 100%;
       padding: 0 ;
    }
		}
	}
}

.team {
	padding-left: $col-vw * 2.5;
	padding-right: $col-vw * 2.5;

	@media (max-width:$tablet-break) { 
		padding-left: $col-vw * 1.5;
	padding-right: $col-vw * 1.5;
	 }

	@media (max-width:$mobile-break) {
       padding-left: $col-vw ;
	padding-right: $col-vw ;
    }

	.col {
		width: 100%;
	}

	.additional-advisory {
		margin-top: 3rem;
		text-align: center;
		font-size: 0.8rem;
	}

	.team-members {
		display: flex;
		justify-content: space-between;
		width: 100%;

		@media (max-width:$mobile-break) {
      flex-wrap: wrap;
    }


		.team-member {
			width: calc((100% / 3) - #{$col-vw/4});
			text-align: left;

			@media (max-width:$mobile-break) {
      width: 100%;
      @include margin-bottom($col-vw/2);

      &:last-child {
      	margin-bottom: 0;
      }
    }

			.image {
				margin-bottom: 1rem;
				padding-right: $col-vw * 1.5;

				@media (max-width:$mobile-break) {
     				padding-right: $col-vw * 1.5;

    }

				img {
					width: 100%;
					height: auto; 
					border-radius: 100%;
					filter: grayscale(100%);
				}
			}

			.extra-info {
				div {
					margin-bottom: 0.25rem;

					&.role {
						font-weight: 700;
					}

					&.company,
					&.roles {
						font-size: 0.85rem
					}

					&.roles {
						opacity: 0.8;
					}
				}
			}

			.name {
				font-weight: 900;
				font-family: $sans1;
				margin-bottom: 0.5rem;
			}

			a {
				font-size: 0.9rem;
				text-decoration: underline;
				color: $color3;
				text-align: center;
word-break: break-all;

			}
		}
	}
}

.partners {
	padding-left: $col-vw * 2.5;
	padding-right: $col-vw * 2.5;

	@media (max-width:$tablet-break) { 
		padding-left: $col-vw * 1.5;
	padding-right: $col-vw * 1.5;
	 }

	@media (max-width:$mobile-break) {
       padding-left: $col-vw ;
	padding-right: $col-vw ;
    }

	.col {
		width: 100%;

		.partners-wrapper {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: $col-vw / 4;

			.partner {
				background: $color1;
			}

			img {
				width: 100%;
				height: auto;
				
			}
		}
	}
}

.stay-connected {
	background: $color2;
	padding-left: $col-vw * 4.25;
	padding-right: $col-vw * 4.25;

	@media (max-width:$laptop-break) {
	       padding-left: $col-vw * 3.5;
	padding-right: $col-vw * 3.5;
	    }

	    @media (max-width:$tablet-break) {
	       padding-left: $col-vw * 1.5;
	padding-right: $col-vw * 1.5;
	    }

	    @media (max-width:$mobile-break) {
       padding-left: $col-vw ;
	padding-right: $col-vw ;
    }

	h2 {
		&::before {
			background: transparentize($color1, 0.75);
		}
	}

	form {
		margin-top: 2rem;
		
		.form-fields {
			display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		}
	}
}